
@{
    ViewData["Title"] = "DisplayEmail";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>تایید حساب کاربری با ایمیل</h1>
<h4>کاربر گرامی لطفا برای تایید حساب کاربری خود بر روی لینکی که برای  شما ایمیل شد کلیک نمایید</h4>

