@model IdentityPro.Models.Dto.ForgotPasswordDto

@{
    ViewData["Title"] = "ForgotPassword";
}

<h1>ForgotPassword</h1>

<h4>ForgotPasswordDto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        @if (ViewBag.meesage != null)
        {
            <div class="alert alert-info">
                @ViewBag.meesage
            </div>
        }

        <form asp-action="ForgotPassword">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

