
@{
    ViewData["Title"] = "VerifySuccess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="alert alert-info">


    <p>شماره موبایل شما با موفقیت تایید شد</p>
    <br />
    <strong>تشکر از شما</strong>
</div>

